/* Overall Styling */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #28313e;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

/* Header Area Styling */

header h1,
header p {
  color: #f6f5f0;
}

header img {
  border-radius: 10px;
}

.headerFlex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
}

.child {
  height: 100%;
}

.subline {
  font-size: 1.3em;
  margin-bottom: 35px;
}
nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

nav a {
  background-color: #f6f5f0;
  border-radius: 50px;
  text-decoration: none;
  margin-right: 15px;
  color: #28313e;
  padding: 10px 25px;
  box-shadow: 2px 5px 5px #ca9657;
}

nav a:hover {
  background-color: #ca9657;
  color: #f6f5f0;
  box-shadow: 2px 5px 5px #f6f5f0;
}

.introTextContainer {
  background-color: #98c4c5;
  color: #f6f5f0;
  border-radius: 10px;
  padding: 40px 50px 40px 30px;
  height: 100%;
}

/* Main Content Sections Styling */

.flex-child h3 {
  color: #ca9657;
}

section {
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
}

.fullwidth-section {
  width: 100%;
  border-radius: 0px;
  background-color: #98c4c5;
  margin: 25px 0;
}

.fullwidth-section h2,
.fullwidth-section h3,
.fullwidth-section p,
.fullwidth-section li {
  color: #f6f5f0;
}

.fullwidth-section > div {
  width: 80%;
  margin: auto;
}

/* Flexbox Styling */
.flex-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 15px;
}

.flex-child {
  min-width: 175px;
  max-width: 250px;
  padding: 15px;
  border-radius: 10px;
}

.flex-child-w-img {
  min-width: 175px;
  max-width: 250px;
  background-color: #f6f5f0;
  padding: 0%;
  border-radius: 10px;
}

.flex-child-w-img > img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.flex-child-w-img p,
.flex-child-w-img h4,
.flex-child-w-img a {
  padding: 0 15px;
}

.flex-child-w-img a {
  background-color: #ca9657;
  color: #f6f5f0;
  text-decoration: none;
  font-weight: 600;
  margin: 0 0 15px 15px;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.flex-child-50 {
  min-width: 250px;
  max-width: 500px;
}

#skills h3 {
  color: #ca9657;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
  padding-left: 0;
}

.tags li {
  list-style: none;
  padding: 15px;
  border-radius: 50px;
  background-color: #ca9657;
  color: #f6f5f0;
}

/* Footer Styling */

footer {
  background-color: #28313e;
  padding: 20px;
  color: #f6f5f0;
}

footer li {
  display: inline-block;
}

footer a {
  text-decoration: none;
  color: #f6f5f0;
  margin-right: 15px;
}

.up-button a {
  background-color: #ca9657;
  box-shadow: 3px 5px 5px #28313e;
  padding: 15px;
  border-radius: 100%;
  position: fixed;
  bottom: 80px;
  right: 20px;
}

.up-button a:hover {
  background-color: #98c4c5;
  box-shadow: 3px 5px 5px #28313e;
  padding: 15px;
  border-radius: 100%;
  position: fixed;
  bottom: 80px;
  right: 20px;
}

/* Media Queries */

@media only screen and (max-width: 500px) {
  header img {
    width: 100%;
  }
}
@media only screen and (min-width: 501px) {
  header img {
    width: 275px;
  }
}
